// Colors
$cod-gray: #171717; // background
$alabaster: #fcfcfc; // text color
$silver-chalice: #555555; // secondary text color

// Fonts
$roboto: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$league: 'League', 'Helvetica', 'Arial', sans-serif;
