#header {
}

#footer {
}

#defaultCanvas0 {
    width: 100vw;
    margin: 0 auto;
    position: relative;
    display: block !important;
    background: $alabaster;
}

.board {
    margin: 10rem 10vw;
}
